.mini-img {
	display:none;
	}
	
.modal-content {
	width: 100%;
	animation-name: none;
	transform: scale(1.1);
}

#kursor {
	border-bottom: 5px solid white;
	border-left: 5px solid white;
	width: 15px;
	height: 15px;
	position: absolute;
	visibility: hidden;
	
	transition: transform 0.5s ease-out;
	
}

#img01 {
	position: relative;
	cursor:none;
}

.oczko {
	position: absolute;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background-color: white;
}