/* CSS files add styling rules to your content */

body {

  min-width: 1000px;
  height: 100%;
  overflow:auto;
  margin: 0;
  background-color: #000;
}

html{height: 100%;}

* {box-sizing: border-box;}



/*--- HEADER ---*/

header {
  width:100%;
  display: block;
  height:50px;
}

header h1 {

  margin:0;
  padding: 10px;
  font-style: bold;
  color: #006622;
  height:  50px;
  text-align: center;

}

/*--- MAIN ---*/
main{
  /*padding-top: 100px;*/
}

/*--- NAV ---*/

nav {
  width:25%;

  float: left;
  overflow-y: auto;

}

nav ul {
  list-style-type: none;
  width:100%;
  display: block;
  margin: 0;
  padding: 0;
}

nav ul > li {
  color: #006622;
  text-align: center;
  font-size: 1.5em;
  padding: 0.2em;
}


nav li {
  margin: 0;
  padding: 1em 0 1em 0.5em;
  width:100%;
  display: block;
  height: 100%;

}

nav a li:hover {
  background-color: #006622;
  color: #80ffaa;

}




nav a, nav a:visited{
  text-decoration: none;
  color: #006622;
}


/*--- SECTION ---*/

section {
  width: 71%;
  padding: 1em 2em;
  margin: 1% 2%;
  float: left;
  background-color:#333;

}

/*--- INDEX ---*/

.thumbnail{
  width:100%;
  height: auto;
}

.sec{
  overflow-X:auto;
  height:600px;
}
